.lesson-playback-captions {
  --caption-height: min(45dvh, 8lh);
  position: relative;
  max-height: var(--caption-height);
  overflow: auto;
  scrollbar-width: none;
  margin: 0;
}

.lesson-playback-captions::after {
  content: "";
  display: block;
  height: calc(var(--caption-height) - 1lh);
}

.lesson-playback-captions::-webkit-scrollbar {
  display: none;
}

@media (max-width: 650px) {
  .lesson-playback-captions {
    --caption-height: 4lh;
  }
}
